/* @import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap'); */

* {
    margin: 0;
    box-sizing:border-box;
   
}


header {
display:flex;
background-color: Red;
width: auto;
font-size: 30px;
font-family: 'Sriracha', cursive;
height:300px;
text-align:center;

}


 h2{
     padding:5%;
     border-bottom-style: solid;
 }


nav ul{
    padding: 10%;
}
 


header img {
  width: 100px;
  height: 100px;
 
  
  
}


footer {
    display:flex;
    justify-content:center;
    flex-direction:column;
    background-color:red;
    width: auto;
    height: auto;
    text-align:center;
   
}


