/* My fonts */
@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Sigmar+One&display=swap');

/* /* Change box model   */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}







/* Mobile First Styles */


header {
    background-color: lightcyan;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 10px;


}

.headings h1 {
    font-family: 'Sigmar One', cursive;
    text-shadow: 4px 4px 4px #aaa;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;

}

.headings {
    display: flex;
    flex-direction: column;
    text-align: center;


}

.tagline {
    font-family: 'Great Vibes', cursive;
    margin-top: 5px;
    font-size: 15px;
}


header img {

    height: auto;
    width: 50px;
}


nav {
    background-color: lightcyan;
    font-family: Verdana, sans-serif;
    list-style-type: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 6;
}






nav button {
    margin: .2rem 2%;
    background-color: transparent;
    font-size: 1.6rem;
    border: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: black;
    border-top: 1px solid;
    font-size: 1rem;

}

nav ul li a:hover {
    background-color: darkcyan;
}

nav ul.hide {
    display: none;
}

main {

    padding: 10px 0;
    font-size: 1.2em;
    line-height: 3em;
    font-weight: bold;
    background-color: lightgray
}

#temps h1, #conditions h1, #precipitation h1{
    position:absolute;
    top: -20px;

}

#locationName {
    background-color:white;
    font-family: 'Sigmar One', cursive;
    text-align: center;
    border-radius: 40px;
    border: solid 1px black;
}

#currentConditions {
    background-color:white;
    font-family: 'Sigmar One', cursive;
    text-align: center;
    border-radius: 40px;
    border: solid 1px black;
    margin-top:10px;
}


#temps,
#conditions,
#precipitation {
    width: 350px; 
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color:white;
    font-family: 'Sigmar One', cursive;
    font-size: 10px;
    border-radius: 40px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top:10px;

}




footer {
    display: block;
    background-color: lightcyan;
    padding: 5px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3rem;
    font-family: 'Great Vibes', cursive;


}

/* ClearFix: Force an element no to collapse
.clearfix:after {
    content: "";
    display: table;
    clear: both;
} */

/*  
     large screen css */

@media only screen and (min-width: 760px) {



    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
        margin-top: 0;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        border:black;
    }

    nav {
        position: static;
        border:black;

    }


    nav ul li a {
        border: none;

    }

    #currentConditions {
        background-color: lightcoral;
        font-family: 'Sigmar One', cursive;
        padding-bottom: 100px;
        text-align: center;
        border-radius: 40px;
    }
   
    #temps, #conditions, #precipitation{
        margin:0;
    }
     
    .large-screen{
        display:flex;
        justify-content:center;
        justify-content: space-evenly;
    }

    #temps, #conditions, #precipitation{
    margin: 50px 50px;
    
        

    }
   
    

    footer {
        margin:0;
    }

}




/* css for componnent */
.outer{
    width: 200px;
    height: 200px;
    background-color: darkgray;
    position: relative;
    border-radius: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
  
}
  /* The circle itself  */
.inner{
    position:relative;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 90%;
    align-self: center;
}
 /*
  The clock hours 
.i1{
  position: absolute;
  left:220px;
  top:88px;
  z-index:4;
}
.i2{
  position: absolute;
  top:120px;
  right:90px;
  z-index:4;
}
.i3{
  position: absolute;
  top:162px;
  right:83px;
  z-index:4;
}
.i4{
  position: absolute;
  bottom:120px;
  right:93px;
  z-index:4;
}

.i5{
  position:absolute;
  bottom:88px;
  right:120px;
  z-index:4;
  
}

.i6{
  position:absolute;
  right:168px;
  bottom: 75px;
  z-index:4;
  
  
}
  


.i7{
  position:absolute;
  left: 120px;
  bottom:90px;
  z-index:4;
  }

.i8{
  position:absolute;
  left:90px;
  bottom: 120px;
  z-index:4;
  }

.i9{
  position:absolute;
  top:162px;
  left:82px;
  z-index:4;
  }

.i10{
  position:absolute;
  top:120px;
  left:87px;
    z-index:4;
}
.i12{
  position:absolute;
  top:74px;
  left: 168px
}
img{
  width: 35px;
}

.img1{
  position: absolute;
  left:220px;
  top:88px;
  z-index:4;
}
.img2{
  position: absolute;
  top:120px;
  right:90px;
  z-index:4;
}
.img3{
  position: absolute;
  top:162px;
  right:83px;
  z-index:4;
}
.img4{
  position: absolute;
  bottom:120px;
  right:93px;
  z-index:4;
}

.img5{
  position:absolute;
  bottom:88px;
  right:120px;
  z-index:4;
  
}

.img6{
  position:absolute;
  right:168px;
  bottom: 75px;
  z-index:4;
  
  
}
  


.img7{
  position:absolute;
  left: 120px;
  bottom:90px;
  z-index:4;
  }

.img8{
  position:absolute;
  left:90px;
  bottom: 120px;
  z-index:4;
  }

.img9{
  position:absolute;
  top:162px;
  left:82px;
  z-index:4;
  }

.img10{
  position:absolute;
  top:120px;
  left:87px;
    z-index:4;
}
.img12{
  position:absolute;
  top:74px;
  left: 168px
}

*/