/* My fonts */
@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Sigmar+One&display=swap');

/* /* Change box model   */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* General Styles  */
body {

    font-size: 10px;
}




/* Mobile First Styles */


header {
    background-color: lightcyan;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;


}

.headings h1 {
    font-family: 'Sigmar One', cursive;
    text-shadow: 4px 4px 4px #aaa;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;

}

.headings {
    display: flex;
    flex-direction: column;
    text-align: center;


}

.tagline {
    font-family: 'Great Vibes', cursive;
    margin-top: 5px;
    font-size: 15px;
}


header img {

    height: auto;
    width: 50px;
}


nav {
    background-color: lightgrey;
    font-family: Verdana, sans-serif;
    list-style-type: none;
    position: fixed;
    bottom: 0;
    width: 100%;
}






nav button {
    margin: .2rem 2%;
    background-color: transparent;
    font-size: 1.6rem;
    border: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: black;
    border-top: 1px solid;
    font-size: 1rem;

}

nav ul li a:hover {
    background-color: darkcyan;
}

nav ul.hide {
    display: none;
}

main {


    font-size: 1.2em;
    line-height: 3em;
    font-weight: bold;



}

#locationName {
    background-color: lightcoral;
    font-family: 'Sigmar One', cursive;
    padding-bottom: 100px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    border-radius: 40px;
}

#currentConditions,
#temps,
#conditions,
#precipitation {
    background-color: lightgreen;
    font-family: 'Sigmar One', cursive;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 8px;
    border-radius: 40px;
}

footer {
    display: block;
    background-color: lightcoral;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 3rem;


}

/* ClearFix: Force an element no to collapse
.clearfix:after {
    content: "";
    display: table;
    clear: both;
} */

/*  
     large screen css */

@media only screen and (min-width: 760px) {

    header,
    nav,
    main,
    footer {
        max-width: 760px;
        margin: 0 auto;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
        margin-top: 0;
        align-items:center;
        justify-content:center;
        justify-content: space-evenly;
    }

    nav {
        position: static;

    }

    nav ul li a {
        border: none;

    }

    #currentConditions,
#temps,
#conditions,
#precipitation {
    background-color: lightgreen;
    font-family: 'Sigmar One', cursive;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 10px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 8px;
    border-radius: 40px;
}

    footer {
        margin-top: 10px;
    }
}