/* My fonts */
@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Sigmar+One&display=swap');

/* /* Change box model   */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}







/* Mobile First Styles */


header {
    background-color: lightcyan;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 10px;


}

.headings h1 {
    font-family: 'Sigmar One', cursive;
    text-shadow: 4px 4px 4px #aaa;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;

}

.headings {
    display: flex;
    flex-direction: column;
    text-align: center;


}

.tagline {
    font-family: 'Great Vibes', cursive;
    margin-top: 5px;
    font-size: 15px;
}


header img {

    height: auto;
    width: 50px;
}


nav {
    background-color: lightcyan;
    font-family: Verdana, sans-serif;
    list-style-type: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 6;
}






nav button {
    margin: .2rem 2%;
    background-color: white;
    font-size: 1.6rem;
    border: none;
    
    
}

nav ul {
    list-style-type: none;

    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: black;
    font-size: 1rem;


}

nav ul li a:hover {
    background-color: darkcyan;
}

nav ul.hide {
    display: none;
}

main {

    padding: 10px 0;
    font-size: 1.2em;
    line-height: 3em;
    font-weight: bold;
    background-color: lightgray
}

#currentConditions h1 {
    margin: 0
}
#conflex{
   width:100%; 
}
#temps h1,
#conditions h1,
#precipitation h1 {
    position: absolute;
    top: -20px;

}

#locationName {
    background-color: transparent;
    font-family: 'Sigmar One', cursive;
    text-align: center;

}

#locationName h1 {
    margin-bottom: 0;

}

#locationName h3 {
    margin-top: 0;
    font-family: Verdana, sans-serif;
    font-size: 20px;
}

/* Current Conditions Section */
.tile {
    width: auto;
    font-size: 10px;
    height: 200px;
    background-color: white;
    font-family: 'Sigmar One', cursive;
    text-align: center;
    margin-top: 10px;
    border: black solid 2px;
    border-radius: 40px;
}

#weather-temps {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 10px;


}

#temp {
    font-size: 6em;
    margin: 10px 0 0 0;
    order: -1;
    width: 100%;
    display: block;
}

#high {
    color: red;
    font-size: 4em;
    margin: 10px 10px 0 0;

}

#low {
    color: blue;
    font-size: 4em;
    margin: 10px 0 0 10px;
}

#wind-speed {
    margin-top: 10px;
    width: 100%;
    font-size: 3em;
}

#feels-like {
    display: none;
}

#wind-gusts {
    display: none;
}


/* #currentConditions {
    width:auto;
    font-size:10px;
    height: 200px;
    background-color:white;
    font-family: 'Sigmar One', cursive;
    text-align: center;
    margin-top:10px;
    border: black solid 5px;
} */

/* The 3 weather dial sections. */
#temps,
#conditions,
#precipitation {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    font-family: 'Sigmar One', cursive;
    font-size: 10px;
    border-radius: 40px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;

}




footer {
    display: block;
    background-color: lightcyan;
    padding: 5px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3rem;
    font-family: 'Great Vibes', cursive;


}




/* ClearFix: Force an element no to collapse
.clearfix:after {
    content: "";
    display: table;
    clear: both;
} */

/*  
     large screen css */

@media only screen and (min-width: 760px) {



    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
        margin-top: 0;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        /* border-top: black 3px solid;
        border-bottom: black 3px solid; */
    }

    nav {
        position: static;
        border: black;

    }


    nav ul li a{
        border: black solid 2px;
        /* padding:1px;
        margin-bottom:10px; */
    }

    

    #locationName {
        text-align: left;
    }

    #weather-temps {
        display: flex;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
        height: auto;
    }

    #temp {
        width: auto;
        font-size: 8em;
        margin: 0em;
        order: 0;
        padding: 1em .7em 0 .7em;
    }


    #high {
        font-size: 4em;
        margin-right: 100px;
        color: red;

    }

    #low {

        margin-left: 100px;
        color: blue;
        font-size: 4em;
    }



    #feels-like {
        display: initial;
        width: 100%;
        color: black;
        font-size: 2em;
        margin-top: 5px;
    }
 /* css to get wind and gust to display next to each other */

 #conflex{
     display:flex;
     width:50%;
     justify-content: space-between;
 }

    #wind-gusts {
        display:inherit;
        font-size: 1.5em;
        margin:0;

    }

    #wind-speed {
        width:initial;
        font-size: 1.5em;
        margin:0;
    }

/* cssfor the large screen dials  */
    #temps,
    #conditions,
    #precipitation {
        margin: 0;
    }

    .large-screen {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    #temps,
    #conditions,
    #precipitation {
        margin: 50px 50px;



    }



    footer {
        margin: 0;
    }

}




/* Css Section for the Components. */

.outer {
    width: 200px;
    height: 200px;
    background-color: darkgray;
    position: relative;

    border-radius: 90%;
    display: flex;
    justify-content: center;
    margin: auto;

}

/*   The circle itself */
.inner {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 90%;
    align-self: center;
}

/*  The inner and outer number font sizes */
.i0,
.i1,
.i2,
.i3,
.i4,
.i5,
.i6,
.i7,
.i8,
.i9,
.i10 
.i11{
    font-size: 18px;
}

.o0,
.o1,
.o2,
.o3,
.o4,
.o5,
.o6,
.o7,
.o8,
.o9,
.o10 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

/*  inner component positions */

.i0 {

    position: absolute;
    top: -34px;
    left: 95px;
    z-index: 4
}

.i1 {
    position: absolute;
    right: 47px;
    top: -21px;
    z-index: 4
}

.i2 {
    position: absolute;
    top: 7px;
    right: 17px;
    z-index: 4
}

.i3 {
    position: absolute;
    top: 48px;
    right: 7px;
    z-index: 4;
}

.i4 {
    position: absolute;
    bottom: 14px;
    right: 15px;
    z-index: 4;
}

.i5 {
    position: absolute;
    bottom: -20px;
    right: 49px;
    z-index: 4;
}
.i6 {
    position: absolute;
    bottom: -35px;
    left: 92px;
    z-index: 4;
}
.i7 {
    position: absolute;
    left: 49px;
    bottom: -18px;
    z-index: 4;
}

.i8 {
    position: absolute;
    left: 16px;
    bottom: 13px;
    z-index: 4;
}

.i9 {
    position: absolute;
    top: 48px;
    left: 7px;
    z-index: 4;
}

.i10 {
    position: absolute;
    top: 7px;
    left: 14px;
    z-index: 4;
    font-size:18px;
}
.i11 {
    position: absolute;
    top: -24px;
    left: 46px;
    z-index: 4;
    font-size:18px;
}





/* outer component positions */

.o0 {

    position: absolute;
    top: -73px;
    left: 89px;
    ;
    z-index: 4
}

.o1 {
    position: absolute;
    right: 17px;
    top: -53px;
    z-index: 4
}

.o2 {
    position: absolute;
    top: -7px;
    right: -25px;
    z-index: 4
}

.o3 {
    position: absolute;
    top: 45px;
    right: -36px;
    z-index: 4;
}

.o4 {
    position: absolute;
    bottom: -11px;
    right: -23px;
    z-index: 4;
}

.o5 {
    position: absolute;
    bottom: -54px;
    right: 16px;
    z-index: 4;

}

.o6 {
    position: absolute;
    bottom: -69px;
    left: 86px;
    z-index: 4;
}

.o7 {
    position: absolute;
    left: 25px;
    bottom: -56px;
    z-index: 4;
}

.o8 {
    position: absolute;
    left: -24px;
    bottom: -12px;
    z-index: 4;
}

.o9 {
    position: absolute;
    top: 45px;
    left: -35px;
    z-index: 4;
}

.o10 {
    position: absolute;
    top: -8px;
    left: -26px;
    z-index: 4;
}


/* css for the center image */
img {
    width: 35px;

}

.center {
    position: absolute;
    top: 70px;
    font-size: 40px;
}

.small-percent {
    font-size: 20px;
}

.slider {

    width: 23px;
    height: 23px;
    background-color: orange;
    border-radius: 90%;
   
}

/* background for container */

#curWeather {
    background-size: cover;
    padding:20px;
   }

   /* Background pictures for the conditions */
.clear {
    background-image: url("/adriantolbert.github.io/Wk6images/clear-main.jpg"); 
 }
.lgclear {
    background-image: url("/adriantolbert.github.io/Wk6images/clear-large.jpg"); 
 }
.fog {
    background-image: url("/adriantolbert.github.io/Wk6images/fog-main.jpg"); 
 }
.lgfog {
    background-image: url("/adriantolbert.github.io/Wk6images/fog-large.jpg"); 
}
.snow {
    background-image: url("/adriantolbert.github.io/Wk6images/snow-main.jpg"); 
}
.lgsnow {
    background-image: url("/adriantolbert.github.io/Wk6images/snow-large.jpg"); 
}
.rain {
    background-image: url("/adriantolbert.github.io/Wk6images/rain-main.jpg"); 
}
.lgrain {
    background-image: url("/adriantolbert.github.io/Wk6images/rain-large.jpg"); 
 }
.cloud {
    background-image: url("/adriantolbert.github.io/Wk6images/clouds-main.jpg"); 
}
.lgcloud {
    background-image: url("/adriantolbert.github.io/Wk6images/clouds-large.jpg"); 
}


  